.Footer {
    width: 100%;
    /* height: 240px; */
}
.column2Footer {
    width: 710px;
}
.logoFooter {
    width: 110px;
}
.spLogoFooter {
    width: 180px;
}
.addressTextFooter {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    padding: 0 16px 0 0;
}